@import _template
@import _variables
@import _mixins
@import _hero
@import _letters

.admin
	display: flex
	justify-content: center
	margin-block-start: 2.5rem

.admin__logo
	width: 28rem
	height: 7rem
	display: flex