@import _template
@import _variables
@import _mixins
@import _hero
@import _letters

.shop
	display: flex
	justify-content: center
	margin-block-start: 2.5rem

.shop__logo
	width: 28rem
	height: 7rem
	display: flex

.shop__logo [class^="letter_"]
	border: 3px solid #000